[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
mlflow = "*"
scikit-learn = "*"
numpy = "*"
spacy = "*"
jupyterlab = "*"
streamlit = "*"
matplotlib = "*"
plotly-express = "*"
interpret = "*"
shap = "*"
eli5 = "*"
lime = "*"
nltk = "*"
seaborn = "*"
dash = "*"
dash-bootstrap-components = "*"
google-search = "*"

[requires]
python_version = "3.7"
